<div class="container">
    <form #userForm="ngForm" novalidate (ngSubmit)="saveUser()">
        {{userForm.value |json}}

        <div class="form-group">
            <label>Name:</label>
            <input type="text" required  [class.is-invalid]="name.touched && name.invalid" [(ngModel)]="userModel.name" name="txtName" #name="ngModel" class="form-control">
            <small class="text-danger" *ngIf="name.touched && name.invalid">Name is Required</small>
        </div>
        <div class="form-group">
             <label>Email</label>
             <input type="email" [(ngModel)]="userModel.email" name="txtEmail" #email="ngModel"  class="form-control">     
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="tel" required pattern="^\d{11}$" [class.is-invalid]="phone.touched && phone.invalid" [(ngModel)]="userModel.phone" name="txtPhone" #phone="ngModel"  class="form-control">
            <div *ngIf="phone.touched && phone.errors">
                <small class="text-danger" *ngIf="phone.errors['required']">Phone is Required</small>
                <small class="text-danger" *ngIf="phone.errors['pattern']">Phone must be 11 digits</small>
            </div>
        </div>

       <div class="form-group">
         <select class="custom-select" [(ngModel)]="userModel.topic" #topic="ngModel"  name="ddlTopics" >
            <option>Please select option</option>
            <option *ngFor="let option of topics">
                {{option}}
            </option>
         </select>
       </div>

       <div class="form-check mb-3">
          <input name="chkOffers" [(ngModel)]="userModel.offer" #offer="ngModel"  type="checkbox" class="form-check-input">
          <label class="form-check-label">Send me new offers</label>
       </div>

       <input type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary" value="SUBMIT"/>

    </form>
</div>
